<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head">

</head>

<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			  <div class="right_col" role="main">
                <div class="">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Product Details <small>All products added till now.</small></h2>
                                   
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <input type="checkbox" class="tableflat">
                                                </th>
                                                <th>Product Id </th>
                                                <th>Product Name </th>
                                               	<th>Description</th>
                                               	<th>Quantity</th>
                                               	<th>Price</th>
                                               	 <!--<th>Colour</th>-->
                                               	 <!--<th>Size</th>-->
                                               	<!--  <th>Image Path</th>-->
                                                <!--	<th>Created By</th>-->
                                               	<th>Created Date</th>
                                                <!--	<th>Updated By</th>-->
                                               	<th>Updated Date</th>
                                                <th class=" no-link last"><span class="nobr">Action</span>
                                                </th>
                                            </tr>
                                        </thead>

                                          <tbody>
                                            <tr class="even pointer" th:each="productlist:${productlist}">
                                                <td class="a-center ">
                                                    <input type="checkbox" class="tableflat">
                                                </td>
                                                <td class=" " th:text="${productlist.productId}"></td>
                                                <td class=" " th:text="${productlist.productName}"></td>
                                                <td class=" " th:text="${productlist.description}"></td>
                                                <td class=" " th:text="${productlist.quantity}"></td>
                                                <td class=" " th:text="${productlist.price}"></td>
                                                <!-- <td class=" " th:text="${productlist.productColor}"></td>-->
                                                 <!--<td class=" " th:text="${productlist.productSize}"></td>-->
                                                <!--   <td class=" " ><img th:src="@{'../default/'+${productlist.imgPath}}" alt=""  style="width:100px;height:100px"></td>-->
                                               <!-- <td class=" " th:text="${productlist.}"></td>
                                                <td class=" " th:text="${productlist.}"></td> -->
                                               <!--  <td class=" " th:text="${productlist.createdBy}"></td>-->
                                                <td class=" " th:text="${productlist.createdDt}"></td>
                                                <!-- <td class=" " th:text="${productlist.updatedBy}"></td>-->
                                                <td class=" " th:text="${productlist.updatedDt}"></td>
                                                <td class=" last"><a class="btn btn-primary" th:href="${'/admin/productedit/'+productlist.productId}">Edit</a>
                                                </td>
                                            </tr>
                                           
                                        </tbody> 

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>
                <!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->
                    
                </div>
                <!-- /page content -->
            </div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>


	<th:block th:replace="fragments/doctype::myscript"></th:block>

</body>

</html>