<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head"></head>


<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					
					
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Product Form<small>Add product from this form.</small></h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate
										class="form-horizontal form-label-left"
										th:action="@{/admin/addProduct}" method="post"
										enctype="multipart/form-data">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="catagory">Product Name <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="catagory" name="productName"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="catagory">Quantity <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="number" id="catagory" name="quantity"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="catagory">Price <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="number" id="catagory" name="price"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="catagory">Colour <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="catagory" name="productColor"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="file" name="file" />
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Catagory</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select id="cid" onchange="getValue();" class="form-control"
													name="catagory">
													<option>Choose option</option>
													<option th:each="catagorylist:${catagorylist}"
														th:value="${catagorylist.catagoryId}"
														th:text="${catagorylist.catagoryName}"></option>

												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Sub-Catagory</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select id="myselect" class="form-control" name="sCatagory">
													<!-- 	<option>Choose option</option>
													<option th:each="subcatagorylist:${subcatagorylist}"
														th:value="${subcatagorylist.subCatagoryId}"
														th:text="${subcatagorylist.subCatagoryName}"></option> -->

												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Description
												<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<textarea class="form-control" rows="3" name="description"
													placeholder='rows="3"'></textarea>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button type="reset" class="btn btn-primary">Cancel</button>
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!-- /page content -->

				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>

		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

	<th:block th:replace="fragments/doctype::myscript"></th:block>

</body>
<script>
function getValue(){
	
var id=$("#cid").val();

$.ajax({
	type:'GET',
	url:'/admin/subCatagoryByCatagoryId',
	data:{
		id:id
	},
	success:function(response){
		
		var options = response.map(function(val, ind){
		    return $("<option></option>").val(val.subCatagoryId).html(val.subCatagoryName);
		});
		$('#myselect').children('option').remove();
		$("#myselect").append(options);
	}
	
});
}

</script>

</html>