<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head"></head>


<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										Ordered List <small>Find all the ordered placed by Customers.</small>
									</h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<table id="example"
										class="table table-striped responsive-utilities jambo_table">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" class="tableflat"></th>
												<th>Order Id</th>
												<th>User Name</th>
												<th>Status</th>
												<th>Order Date</th>
												<th class=" no-link last"><span class="nobr">Action</span>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" th:each="orderlist:${orderlist}">
												<td class="a-center "><input type="checkbox"
													class="tableflat"></td>
												<td class=" " th:text="${orderlist.orderId}"></td>
												<td class=" " th:text="${orderlist.userId.username}"></td>
												<td class=" " th:text="${orderlist.status}"></td>
												<td class=" " th:text="${orderlist.orderDate}"></td>
												<td class=" "><a class="btn btn-info"
													th:href="${'orderlist/'+orderlist.orderId}"><span
														class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>View</a>
													<button class="btn btn-default"
														th:onclick="'javascript:updateStatus(1,'+${orderlist.orderId}+')'">
														<span class=" glyphicon glyphicon-ok-circle"
															aria-hidden="true"></span>Conform
													</button>
													<button class="btn btn-default"
														th:onclick="'javascript:updateStatus(2,'+${orderlist.orderId}+')'">
														<span class="glyphicon glyphicon-thumbs-up"
															aria-hidden="true"></span>Completed
													</button></td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>

						<br /> <br /> <br />

					</div>
				</div>
				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>
			<!-- /page content -->
		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

	<th:block th:replace="fragments/doctype::myscript"></th:block>

</body>

</html>