<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/clientheader::chead">
</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span4">
				<form method="POST" class="search_form">
					<input type="text" class="input-block-level search-query"
						Placeholder="eg. T-sirt">
				</form>
			</div>
			<div class="span8" th:replace="fragments/clientheader::topNav">
			</div>

		</div>
	</div>
	<div id="wrapper" class="container">
		<section th:replace="fragments/clientheader::catagory"></section>
		<section class="header_text sub">
			<img class="pageBanner"
				th:src="@{../client/themes/images/pageBanner.png}"
				alt="New products">

			<h4 class="title">
				<span><span class="text"><strong>Your</strong> Cart</span></span>
			</h4>
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span><span class="text"><strong>Your</strong> Carts</span></span>
					</h4>
					<table class="table table-striped" id="mytable">
						<thead>
							<tr>
								<th>Remove</th>
								<th>Image</th>
								<th>Product Name</th>
								<th>Quantity</th>
								<th>Unit Price</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="6" th:if="${productlist==null}"
									style="text-align: center">No data found</td>

							</tr>

							<tr class='lo' th:each="productlist,status:${productlist}">
								<td><a href="#" class='btn btn-danger'
									th:onclick="'javascript:deleteValue('+${status.index}+')'">Delete</a>
									<a href="#" class='btn btn-success'
									th:onclick="'javascript:updateValue('+${status.index}+')'">Update</a>
									<input type="hidden" th:id="id+${status.index}"
									th:value="${productlist.productId}" /></td>
								<td><img style='width: 250px;' alt=""
									th:src="@{'../'+${productlist.imgPath}}"
									style="width:120px; height:100px"></td>
								<td th:text="${productlist.productName}"></td>
								<td class='no'><input type="text"
									th:id="qua+${status.index}" th:value="${productlist.quantity}" /></td>
								<td class='pr' th:text="${productlist.price}"></td>
								<td class='subtotal'
									th:text="${productlist.price* productlist.quantity}"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td><strong>RS:<span
										th:text="${#aggregates.sum(productlist.![price*quantity])}"></span></strong></td>
							</tr>
						</tbody>
					</table>
					<h4>What would you like to do next?</h4>


					<p class="buttons center">
						<!--  <div sec:authorize="isAuthenticated()">

<div sec:authorize="isAnonymous()">-->
						<button sec:authorize="isAnonymous()" class="btn btn-inverse" type="submit" id="checkout">
							<a th:href="@{/login}">Checkout</a>
						</button>
					<form method="post" th:action="@{/pay}">
						<button sec:authorize="isAuthenticated()"
							style="background: orange">
							<img th:src="@{/default/images/Untitled.png}" alt=""
								style="width: 130px" />
						</button>
					</form>
					</p>
				</div>

			</div>
		</section>


		<div th:replace="fragments/clientheader::cfooter"></div>
		<script>
			function updateValue(x) {
				var pid = $("#id" + x).val();
				var qty = $("#qua" + x).val();
				alert(qty + ' id: ' + pid);
				$.ajax({
					type : 'POST',
					url : '/mycart',
					data : {
						pid : pid,
						qty : qty
					},
					success : function(response) {

						alert("Product Update Successful");
					}

				});
				location.reload();
			}
			function deleteValue(x) {
				var pid = $("#id" + x).val();
				var qty = $("#qua" + x).val();
				alert(qty + ' id: ' + pid);
				$.ajax({
					type : 'POST',
					url : '/deleteFromCart',
					data : {
						pid : pid,
						qty : qty
					},
					success : function(response) {
						alert(JSON.stringify(response));
					}

				});
				location.reload();
			}
		</script>
</body>
</html>