<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/clientheader::chead">
</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span4">
				<form method="POST" class="search_form">
					<input type="text" class="input-block-level search-query"
						Placeholder="eg. T-sirt">
				</form>
			</div>
			<div class="span8">
				<div class="account pull-right">
					<ul class="user-menu">
						<li><a href="#">My Account</a></li>
						<li><a href="cart.html">Your Cart (<span id="resp"
								th:if="${session.product !=null}"
								th:text="${#lists.size(session.product)}"></span>)
						</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="register.html">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper" class="container">
		<section th:replace="fragments/clientheader::catagory"></section>
		<section class="header_text sub">
			<img class="pageBanner" th:src="@{../client/themes/images/pageBanner.png}"
				alt="New products">

			<h4 class="title">
				<span><span class="text"><strong>Check</strong>
						Out</span></span>
			</h4>
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									data-parent="#accordion2" href="#collapseOne">Checkout
									Options</a>
							</div>
							<div id="collapseOne" class="accordion-body in collapse">
								<div class="accordion-inner">
									<div class="row-fluid">
										<div class="span6">
											<h4>New Customer</h4>
											<p>By creating an account you will be able to shop
												faster, be up to date on an order's status, and keep track
												of the orders you have previously made.</p>
											<form action="" method="post">

												<fieldset>
													<label class="radio" for="register"> Register
														Account </label> <br>
													<button class="btn btn-inverse" id="checkout"
														data-toggle="collapse" data-parent="#collapse2">Continue
													</button>
												</fieldset>
											</form>
										</div>
										<div class="span6">
											<h4>Returning Customer</h4>
											<p>I am a returning customer</p>
											<form action="" method="post">
												<div
													style="font-size: 25px; padding-bottom: 35px; padding-left: -3px;">
													
												</div>
												<fieldset>
													<div class="control-group">
														<label class="control-label">User Name <span
															style="color: #f00000"><strong>*</strong></span></label>
														<div class="controls">
															<input type="text" name="email"
																placeholder="Enter your Email" id="username"
																class="input-xlarge">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label">Password <span
															style="color: #f00000"><strong>*</strong></span></label>
														<div class="controls">
															<input type="password" name="password"
																placeholder="Enter your password" id="password"
																class="input-xlarge">
														</div>
													</div>
													<button name="login" class="btn btn-inverse">Continue</button>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									data-parent="#accordion2" href="#collapseThree">Confirm
									Order</a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									<div class="row-fluid">
										<form method="post" th:action="@{/addOrder}">
											<div class="control-group">
												<label for="textarea" class="control-label">Comments</label>
												<div class="controls">
													<textarea rows="3" name="detail" id="textarea"
														class="span12"></textarea>
												</div>
											</div>
											<button class="btn btn-inverse pull-right" name="order">Confirm
												order</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div th:replace="fragments/clientheader::cfooter"></div>
		
</body>
</html>