<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/clientheader::chead">
</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span4">
				
					<input type="text" id="searchbox" th:onkeyup="'javascript:searchData()'" class="input-block-level search-query"
						Placeholder="eg. T-sirt">
				
			</div>
			<div class="span8" th:replace="fragments/clientheader::topNav">
			</div>
		</div>
	</div>
	<div id="wrapper" class="container">
		<section th:replace="fragments/clientheader::catagory"></section>
		<section class="homepage-slider" id="home-slider">
			<div class="flexslider" id="abc">
				<ul class="slides">
					<li><img
						th:src="@{../client/themes/images/carousel/banner-1.jpg}" alt="" />
					</li>
					<li><img
						th:src="@{../client/themes/images/carousel/banner-2.jpg}" alt="" />
						<div class="intro">
							<h1>Mid season sale</h1>
							<p>
								<span>Up to 50% Off</span>
							</p>
							<p>
								<span>On selected items online and in stores</span>
							</p>
						</div></li>
				</ul>
			</div>
		</section>
		<section class="header_text" id="abc2">
			<h4></h4>
			We stand for top quality products. Our genuine Products always amaze
			people and provide best product in optimal price. You will not get
			this chance ever.Start to shop your needs now. <br />Don't miss to
			use our service and gain as much benefit as you can.
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span12">
							<h4 class="title">
								<span class="pull-left"><span class="text"><span
										class="line">Feature <strong>Products</strong></span></span></span> <span
									class="pull-right"> <a class="left button"
									href="#myCarousel" data-slide="prev"></a><a
									class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
							</h4>
							<div id="myCarousel" class="myCarousel carousel slide" >
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails" id="result">
											<li class="span3" th:each="productlist:${productlist}">
												<div class="product-box" style="height: 295px">
													<span class="sale_tag"></span>
													<p>
														<a th:href="@{'product_detail/'+${productlist.productId}}"><img
															th:src="${'../'+productlist.imgPath}" alt=""
															style="height: 225px" /></a>
													</p>
													<a th:href="@{'product_detail/'+${productlist.productId}}"
														class="title" th:text="${productlist.productName}"></a><br />
													<p class="price" th:text="${productlist.price}"></p>
												</div>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="span12">
							<h4 class="title">
								<span class="pull-left"><span class="text"><span
										class="line">Latest <strong>Products</strong></span></span></span> <span
									class="pull-right"> <a class="left button"
									href="#myCarousel-2" data-slide="prev"></a><a
									class="right button" href="#myCarousel-2" data-slide="next"></a>
								</span>
							</h4>
							<div id="myCarousel-2" class="myCarousel carousel slide">
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails">
											<li class="span3" th:each="productlist:${productlist}">
												<div class="product-box" style="height: 295px">
													<span class="sale_tag"></span>
													<p>
														<a th:href="@{'product_detail/'+${productlist.productId}}"><img
															th:src="${productlist.imgPath}" alt=""
															style="height: 225px" /></a>
													</p>
													<a th:href="@{'product_detail/'+${productlist.productId}}"
														class="title" th:text="${productlist.productName}"></a><br />
													<p class="price" th:text="${productlist.price}"></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h4 class="title">
				<span class="text">Manufactures</span>
			</h4>
					<div class="row feature_box">
						<div class="span4">
							<div class="service">
								<div class="responsive">
									<img th:src="@{/client/themes/images/feature_img_2.png}" alt="" />
									<h4>
										MODERN <strong>DESIGN</strong>
									</h4>
									<p>Brings you the design that are on trends in the Markets.</p>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="service">
								<div class="customize">
									<img th:src="@{/client/themes/images/feature_img_1.png}" alt="" />
									<h4>
										FREE <strong>SHIPPING</strong>
									</h4>
									<p>Available of Free shipping in the products and Huge
										discounts in special offers.</p>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="service">
								<div class="support">
									<img th:src="@{/client/themes/images/feature_img_3.png}" alt="" />
									<h4>
										24/7 LIVE <strong>SUPPORT</strong>
									</h4>
									<p>Support Customer every time and take care of customer
										satisfaction.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		<section class="our_clientt">
			<h4 class="title">
				<span class="text">Manufactures</span>
			</h4>
			<div class="row">
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/14.png}"></a>
				</div>
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/35.png}"></a>
				</div>
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/1.png}"></a>
				</div>
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/2.png}"></a>
				</div>
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/3.png}"></a>
				</div>
				<div class="span2">
					<a href="#"><img alt=""
						th:src="@{/client/themes/images/clientts/4.png}"></a>
				</div>
			</div>
		</section>
		<div th:replace="fragments/clientheader::cfooter"></div>
		<script>
		$(document).ready(function(){
			$("div#abc").show();
			var succes = [[${success}]];
		    var fail = [[${failure}]];        
		
		        if(succes!=null){
		            alert("Payment Successful");
		        }else if(fail!=null){
		            alert("Payment Failed");
		        }else{
		        }
		
		    });
		
		});
		function searchData(){
			
			var input=$("#searchbox").val();			
			$.ajax({
				type:'POST',
				url:'search',
				data:{
					product:input
				},
				success:function(response){
					//alert(JSON.stringify(response));	
					$("#abc").hide();
					$("#abc2").hide();
					
					 $.each(response, function(index, element) {
						$("#result").html(' <li class="span3">'+
						 '<div class="product-box" style="height: 220px">'+
							'<span class="sale_tag"></span>'+
							'<p>'+
								'<a href="/product_detail/'+element.productId+'"><img '+
									'src="/'+element.imgPath+'" alt=""'+
									'style="height: 225px" /></a>'+
							'</p>'+
							'<a href="/product_detail/'+element.productId+'"'+
								'class="title" >'+element.productName+'</a><br />'+
							'<p class="price" >'+element.price+'></p>'+
						'</div>'+
						 '</li>');
						 
						
				        });
				}
			});
		}
		</script>
		
</body>
</html>