<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/clientheader::chead">
</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span4">
				<form method="POST" class="search_form">
					<input type="text" class="input-block-level search-query"
						Placeholder="eg. T-sirt">
				</form>

			</div>
			<div class="span8" th:replace="fragments/clientheader::topNav">
			</div>
		</div>
	</div>

	<div id="wrapper" class="container">
		<section th:replace="fragments/clientheader::catagory"></section>
		<section class="header_text sub">
			<img class="pageBanner"
				th:src="@{/client/themes/images/pageBanner.png}" alt="New products">

			<h4 class="title">
				<span><span class="text"><strong>Product</strong>
						Details</span></span>
			</h4>
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span1"></div>
						<div class="span4">
							<a href="# " class="thumbnail" data-fancybox-group="group1"
								title="Description 1"><img alt="Product Image"
								th:src="@{'../'+${product.imgPath}}"></a>
						</div>
						<div class="span4">
							<address>

								<strong>Product Name:</strong> <span
									th:text="${product.productName}"></span><br> <strong>Product
									Code:</strong> <span th:text="${product.productId}"></span><br>
								<h4>
									<strong>Price(in Rupee) : <span
										th:text="${product.price}"></span></strong>
								</h4>
								<span th:text="${session.hello}"></span>
							</address>
							<!-- <span style="color: green">  <?php if (isset($msg)) {
                                  echo $msg;
                              } ?>
                              </span> -->
							<div class="span3">
								<!-- <span style="color: red"><?php if (isset($err)) {
                                echo $err;
                            } ?></span> -->
								<!--   <form class="form-inline" >-->
								<label>Qty:</label> <input type="text" class="span1"
									id="quantity" placeholder="1" name="quantity"> <input
									type="hidden" name="pid" id="pid"
									th:value="${product.productId}" />
								<button class="btn btn-inverse" id="bton" name="submit"
									type="submit" onclick="getValue();">Add to cart</button>
								<!--  </form>-->
							</div>

						</div>

						<div class="span3 col">
							<div class="block">
								<ul class="nav nav-list">
									<li class="nav-header">SUB CATEGORIES</li>
									<li th:each="catagorylist:${catagorylist}"><a
										th:href="@{'/products/c/'+${catagorylist.catagoryId}}"
										th:text="${catagorylist.catagoryName}"></a>
										<ul>

											<li th:each="subcatagorylist:${catagorylist.subCatagoryList}"><a
												th:href="@{'/products/sc/'+${subcatagorylist.subCatagoryId}}"
												th:text="${subcatagorylist.subCatagoryName}"></a></li>

										</ul></li>

								</ul>

							</div>
						</div>
					</div>
					<!--  <div class="row">-->
					<div class="span9">
						<ul class="nav nav-tabs" id="myTab">
							<li class="active"><a href="#home">Description</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="home"
								th:text="${product.description}"></div>

						</div>
					</div>


				</div>


			</div>
		</section>


		<div th:replace="fragments/clientheader::cfooter"></div>
</body>
</html>