<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/clientheader::chead">
</head>
<body>
	<div id="top-bar" class="container">
		<div class="row">
			<div class="span4">
				<form method="POST" class="search_form">
					<input type="text" class="input-block-level search-query"
						Placeholder="eg. T-sirt">
				</form>
			</div>
			<div class="span8">
				<div class="account pull-right">
					<ul class="user-menu">
						<li><a href="#">My Account</a></li>
						<li><a href="cart.html">Your Cart(<span id="resp"
								th:if="${session.product !=null}"
								th:text="${#lists.size(session.product)}"></span>)
						</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="register.html">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper" class="container">
		<section th:replace="fragments/clientheader::catagory"></section>
		<section class="header_text sub">
			<img class="pageBanner"
				th:src="@{/client/themes/images/pageBanner.png}" alt="New products">

			<h4 class="title">
				<span><span class="text"><strong>Product</strong>
						Details</span></span>
			</h4>
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span9">
					<ul class="thumbnails listing-products">
						<li class="span3" th:each="productlist:${productlist}">
							<div class="product-box" style="height: 295px">
								<span class="sale_tag"></span>
								<p>
									<a th:href="@{'/product_detail/'+${productlist.productId}}"><img
										th:src="${'/'+productlist.imgPath}" alt=""
										style="height: 225px" /></a>
								</p>
								<a th:href="@{'/product_detail/'+${productlist.productId}}"
									class="title" th:text="${productlist.productName}"></a><br />
								<p class="price" th:text="${productlist.price}"></p>
							</div>

						</li>

					</ul>
					<hr>
					<div class="pagination pagination-small pagination-centered">
						<ul th:id="mylist">					
						
						</ul>
					</div>
				</div>
				<div class="span3 col">
					<div class="block">
						<ul class="nav nav-list">
							<li class="nav-header">SUB CATEGORIES</li>
							<li th:each="catagorylist:${catagorylist}"><a
								th:href="@{'/products/c/'+${catagorylist.catagoryId}}"
								th:text="${catagorylist.catagoryName}"></a>
								<ul>

									<li th:each="subcatagorylist:${catagorylist.subCatagoryList}"><a
										th:href="@{'/products/sc/'+${subcatagorylist.subCatagoryId}}"
										th:text="${subcatagorylist.subCatagoryName}"></a></li>

								</ul></li>

						</ul>

					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/clientheader::cfooter"></div>
		<script th:inline="javascript">
		$(document).ready(function(){
			var num=[[${totalcount}]];
			var pathname = window.location.pathname; // Returns path only
			var url      = window.location.href;
			var id=pathname.substr(13,pathname.length);			
			for(var a=1; a<=num; a++){
				$("ul#mylist").append('<li><a href="/products/sc/'+id+'/page/'+a+'">'+a+'</a></li>');
			//	alert(a);
			}
			
		});
		
		</script>
</body>
</html>