<!DOCTYPE html>
<<html xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

            <div  class="col-md-3 left_col" th:fragment="sidebar">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-shopping-cart"></i> <span>Shop My Way!</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic" style="width:25px; height:40px">
                            
                        </div>
                        <div class="profile_info">
                            <span>Welcome,
                             <h2 sec:authorize="isAuthenticated()"  th:text ="${#authentication.getPrincipal().getFirstName() +' '+#authentication.getPrincipal().getLastName()}"></h2></span>                            
                        </div>
                         <div class="profile_pic" style="width:29px; height:40px">
                            
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="index.html">Dashboard</a>
                                        </li>
                                       
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-sitemap"></i> Catagory <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a th:href="@{/admin/catagory}">Catagory Form</a>
                                        </li>
                                        <li><a th:href="@{/admin/catagorylist}">Cataagory List</a>
                                        </li>
                                        <li><a th:href="@{/admin/subCatagory}">Sub Catagory</a>
                                        </li>
                                        <li><a th:href="@{/admin/subcatagorylist}">Sub-Catagory List</a>
                                        </li>                                        
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-desktop"></i> Product <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a th:href="@{/admin/product}">Product Form</a>
                                        </li>
                                        <li><a th:href="@{/admin/productlist}">Product Detail</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-table"></i> Order <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a th:href="@{/admin/orderlist}">OrderList</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-cc-paypal"></i> Payment<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a th:href="@{/admin/getPaymentDetail}">Payment Detail</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-bar-chart-o"></i> Report<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a th:href="@{/admin/daily-report}">Daily Report</a>
                                        </li>
                                        <li><a th:href="@{/admin/timely-report}">Dynamic Report</a>
                                        </li>                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                    <!-- /sidebar menu -->

                   
                   
                </div>
            </div>

            <!-- top navigation -->
            <div  class="top_nav" th:fragment="top-navbar">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt=""><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    
                                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>

                           

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
</body>
</html>