<section th:fragment="catagory" class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						
						<ul>
							<li th:each="catagorylist:${catagorylist}" th:text="${catagorylist.catagoryName}"><a href="./products.html">Woman</a>					
								<!--  <ul>
									<li><a href="./products.html">Lacinia nibh</a></li>									
									<li><a href="./products.html">Eget molestie</a></li>
									<li><a href="./products.html">Varius purus</a></li>
																		
								</ul>-->
							</li>															
							
						</ul>
					</nav>
				</div>
			</section>