<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head th:fragment="chead">
<meta charset="utf-8">
<title>Shop my way</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
<!-- bootstrap -->
<link th:href="@{/client/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link
	th:href="@{/client/bootstrap/css/bootstrap-responsive.min.css}"
	rel="stylesheet">

<link th:href="@{/client/themes/css/bootstrappage.css}"
	rel="stylesheet" />

<!-- global styles -->
<link th:href="@{/client/themes/css/flexslider.css}"
	rel="stylesheet" />
<link th:href="@{/client/themes/css/main.css}" rel="stylesheet" />

<!-- scripts -->
<script th:src="@{/client/themes/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/client/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/client/themes/js/superfish.js}"></script>
<script th:src="@{/client/themes/js/jquery.scrolltotop.js}"></script>
<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
<div class="span8" th:fragment="topNav">
				<div class="account pull-right">
					<ul class="user-menu">
						<li><a th:href="@{/myaccount}">My Account</a></li>
						<li><a th:href="@{/cart_detail}">Your Cart <span
								style="color: #eb4800; font-weight: bold">(<span
									id="resp"></span>)
							</span></span></a></li>
						<li><a th:href="@{/checkout}">Checkout</a></li>
						<li><a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
						
					</ul>
				</div>
			</div>
	
	<section th:fragment="catagory" class="navbar main-menu">
		<div class="navbar-inner main-menu">
			<a th:href="@{/index}" class="logo pull-left"><img
				th:src="@{/client/themes/images/logo.png}" class="site_logo" alt=""></a>
			<nav id="menu" class="pull-right">

				<ul>
					<li th:each="catagorylist:${catagorylist}"><a
						th:href="@{'/products/c/'+${catagorylist.catagoryId}}" th:text="${catagorylist.catagoryName}"></a>
						<ul>
							<li th:each="subcatagorylist:${catagorylist.subCatagoryList}"><a
								th:href="@{'/products/sc/'+${subcatagorylist.subCatagoryId}}"
								th:text="${subcatagorylist.subCatagoryName}"></a></li>

						</ul></li>

				</ul>
			</nav>
		</div>
	</section>
	<div th:fragment="cfooter">
		<section id="footer-bar">
			<div class="row">
				<div class="span3">
					<h4>Navigation</h4>
					<ul class="nav">
						<li><a th:href="@{/index}">Homepage</a></li>
						<li><a th:href="@{/cart_detail}">Your Cart</a></li>
						<li><a th:href="@{/login}">Login</a></li>
					</ul>
				</div>
				<div class="span4">
					<h4>My Account</h4>
					<ul class="nav">
						<li><a href="#">My Account</a></li>
						<li><a href="#">Order History</a></li>					
					</ul>
				</div>
				</div>
		</section>
		<section id="copyright">
			<span>Copyright All right
				reserved.</span>
		</section>

		<script th:src="@{/client/themes/js/common.js}"></script>
		<script th:src="@{/client/themes/js/jquery.flexslider-min.js}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation : "fade",
						slideshowSpeed : 4000,
						animationSpeed : 600,
						controlNav : false,
						directionNav : true,
						controlsContainer : ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
		<script th:inline="javascript">
/*<![CDATA[*/

var a=[[${session.product}?${#lists.size(session.product)}:0]];	

$("#resp").text(a);
function getValue(){
	
	var pid=$("#pid").val();
	var qty=$("#quantity").val();			
	$.ajax({
		type:'POST',
		url:'/cart',			
		data:{
			pid:pid,
			qty:qty
		},
		success:function(response){
			
			var obj = jQuery.parseJSON( JSON.stringify(response) );
			if( obj.msg === 'This product already exists in your Cart'){
				alert(obj.msg);
			}else{
				alert("Your Product is Added To Cart");
				$("#resp").text(obj.msg);
			}
		}
	});
}
/*]]>*/
</script>
		 
	</div>
</body>
</html>