<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Shop My Way! |</title>
<!-- Bootstrap core CSS -->

<link th:href="@{/default/css/bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/default/fonts/css/font-awesome.min.css}"
	rel="stylesheet" />
<link th:href="@{/default/css/animate.min.css}" rel="stylesheet" />

<!-- Custom styling plus plugins -->
<link th:href="@{/default/css/custom.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/default/css/maps/jquery-jvectormap-2.0.1.css}" />
<link th:href="@{/default/css/icheck/flat/green.css}" rel="stylesheet" />
<link th:href="@{/default/css/floatexamples.css}" rel="stylesheet"
	type="text/css" />
<!-- include the style -->
<link rel="stylesheet"
	th:href="@{/default/alertifyjs/css/alertify.min.css}" />
<!-- include a theme -->
<link rel="stylesheet"
	th:href="@{/default/alertifyjs/css/themes/bootstrap.min.css}" />
<style>
a.de {
	background: yellow;
}

.alertify-notifier .ajs-message.ajs-error {
	color: #fff;
}

.alertify-notifier .ajs-message.ajs-success {
	color: #fff;
}
</style>

<script th:src="@{/default/js/jquery.min.js}"></script>
<script th:src="@{/default/js/nprogress.js}"></script>
<script>
	NProgress.start();
</script>
<script th:src="@{/default/tinymce/tinymce.min.js}"></script>
<script >
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link  charmap print  anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime  table contextmenu paste code help'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat  ',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'],
            height: 50
        });

    </script>

</head>
<body>



	<div th:fragment="myscript">


		<script th:src="@{/default/js/custom.js}"></script>

		<script th:src="@{/default/js/bootstrap.min.js}"></script>

		<!-- chart js -->
		<script th:src="@{/default/js/chartjs/chart.min.js}"></script>
		<!-- bootstrap progress js -->
		<script th:src="@{/default/js/progressbar/bootstrap-progressbar.min.js}"></script>
		<script th:src="@{/default/js/nicescroll/jquery.nicescroll.min.js}"></script>
		<!-- icheck -->
		<script th:src="@{/default/js/icheck/icheck.min.js}"></script>
		<!-- tags -->
		<script th:src="@{/default/js/tags/jquery.tagsinput.min.js}"></script>
		<!-- switchery -->
		<script th:src="@{/default/js/switchery/switchery.min.js}"></script>
		<!-- daterangepicker -->
		<script type="text/javascript" th:src="@{/default/js/moment.min2.js}"></script>
		<script type="text/javascript"
			th:src="@{/default/js/datepicker/daterangepicker.js}"></script>
		<!-- richtext editor -->
		<script th:src="@{/default/js/editor/bootstrap-wysiwyg.js}"></script>
		<script th:src="@{/default/js/editor/external/jquery.hotkeys.js}"></script>
		<script
			th:src="@{/default/js/editor/external/google-code-prettify/prettify.js}"></script>
		<!-- select2 -->
		<script th:src="@{/default/js/select/select2.full.js}"></script>
		<!-- form validation -->
		<script type="text/javascript"
			th:src="@{/default/js/parsley/parsley.min.js}"></script>
		<!-- textarea resize -->
		<script th:src="@{/default/js/textarea/autosize.min.js}"></script>
		<script>
		autosize($('.resizable_textarea'));
		</script>
		<!-- Autocomplete -->

		<script th:src="@{/default/alertifyjs/alertify.min.js}"></script>
		<script th:inline="javascript">
		    $(document).ready(function () {
		        var succes = [[${success}]];
		        var fail = [[${failure}]];
		        
		        alertify.set('notifier','position', 'top-right');
		        if(succes!=null){
		            alertify.success(succes)
		        }else if(fail!=null){
		            alertify.error(fail)
		        }else{
		        }
		
		    });
		</script>
		<!-- /editor -->
		<!-- Datatables -->
		<script th:src="@{/default/js/datatables/js/jquery.dataTables.js}"></script>
		<script
			th:src="@{/default/js/datatables/tools/js/dataTables.tableTools.js}"></script>
		<script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
            'iDisplayLength': 12,
            "sPaginationType": "full_numbers"
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
        </script>
          
	</div>
</body>
</html>