<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head">

</head>
<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										Payment Details<small>Check payment details of all ordered products.</small>
									</h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<table id="example"
										class="table table-striped responsive-utilities jambo_table">
										<thead>
											<tr class="headings">
												<th>Payment Id</th>
												<th>User Name</th>
												<th>Order No</th>
												<th>Status</th>
												<th>Payment Date</th>

												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" th:each="paymentlist:${paymentlist}">
												<td class=" " th:text="${paymentlist.id}"></td>
												<!--   <td class=" " th:text="${paymentlist.orderId.orderId}"> </td>-->
												<td class=" " th:text="${paymentlist.userId.username}">
													<i class="success fa fa-long-arrow-up"></i>
												</td>
												<td class=" " th:text="${paymentlist.orderId.orderId}"></td>
												<td class=" " th:text="${paymentlist.status}"></td>
												<td class=" " th:text="${paymentlist.paymentDate}"></td>
												</td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>

						<br /> <br /> <br />

					</div>
				</div>
				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>
			<!-- /page content -->
		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

	<th:block th:replace="fragments/doctype::myscript"></th:block>
</body>

</html>