<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head"></head>


<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Sub-Catagory Form<small>Add subcatagory from this form.</small></h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate
										class="form-horizontal form-label-left"
										th:action="@{/admin/subcatagory_insert}" method="post">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="catagory">Sub Catagory <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="catagory" name="subCatagoryName"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select class="form-control" name="catagoryId">
													<option>Choose option</option>
													<option th:each="catagorylist:${catagorylist}"
														th:value="${catagorylist.catagoryId}"
														th:text="${catagorylist.catagoryName}"></option>

												</select>
											</div>
										</div>

										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button type="reset" class="btn btn-primary">Cancel</button>
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!-- /page content -->

				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>

		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

<th:block th:replace="fragments/doctype::myscript"></th:block>

</body>

</html>