<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doctype::head">

</head>
<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										Catagory List <small>Find all the Catagory lists.</small>
									</h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<table id="example"
										class="table table-striped responsive-utilities jambo_table">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" class="tableflat"></th>
												<th>Catagory Id</th>
												<th>Catagory Name</th>
												<th>Created By</th>
												<th>Created Date</th>
												<th>Updated By</th>
												<th>Updated Date</th>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer"
												th:each="catagorylist:${catagorylist}">
												<td class="a-center "><input type="checkbox"
													class="tableflat"></td>
												<td class=" " th:text="${catagorylist.catagoryId}"></td>
												<td class=" " th:text="${catagorylist.catagoryName}"></td>
												<td class=" " th:text="${catagorylist.createdBy}"></td>
												<td class=" " th:text="${catagorylist.createdDt}"></td>
												<td class=" " th:text="${catagorylist.updatedBy}"></td>
												<td class=" " th:text="${catagorylist.updatedDt}"></td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>

						<br /> <br /> <br />

					</div>
				</div>
				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>
			<!-- /page content -->
		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

<th:block th:replace="fragments/doctype::myscript"></th:block>
</body>

</html>