<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/doctype::head">

</head>

<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										SubCatagory List <small>Find all the Sub Catagory here.</small>
									</h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<table id="example"
										class="table table-striped responsive-utilities jambo_table">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" class="tableflat"></th>
												<th>Sub Catagory Id</th>
												<th>Sub Catagory Name</th>
												<th>Catagory</th>
												<th>Created By</th>
												<th>Created Date</th>
												<th>Updated By</th>
												<th>Updated Date</th>
												<th class=" no-link last"><span class="nobr">Action</span>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer"
												th:each="subcatagorylist:${subcatagorylist}">
												<td class="a-center "><input type="checkbox"
													class="tableflat"></td>
												<td class=" " th:text="${subcatagorylist.subCatagoryId}"></td>
												<td class=" " th:text="${subcatagorylist.subCatagoryName}">
												</td>
												<td class=" "
													th:text="${subcatagorylist.catagoryId.catagoryName}">
													<i class="success fa fa-long-arrow-up"></i>
												</td>
												<td class=" " th:text="${subcatagorylist.createdBy}"></td>
												<td class=" " th:text="${subcatagorylist.createdDt}"></td>
												<td class=" " th:text="${subcatagorylist.updatedBy}"></td>
												<td class=" " th:text="${subcatagorylist.updatedDt}"></td>
												<td class=" last"><a href="#">View</a></td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>

						<br /> <br /> <br />

					</div>
				</div>
				<!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->

			</div>
			<!-- /page content -->
		</div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

	<th:block th:replace="fragments/doctype::myscript"></th:block>
</body>

</html>